.blog-post-meta-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.blog-post-meta-paragraph {
  margin-right: 10px;
}

.author-name {
  margin: 0;
  margin-top: 25px;
  margin-left: 15px;
}

.my-notes-title {
  text-decoration: underline;
  color: #202020d0; /* Lighter color */
  text-align: center;
}

#amazon-paragraph {
  font-size: larger;
}

footer {
  flex: 0 0 auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
  background-color: beige;
}
main {
  flex: 1 0 auto;
}

#summary-text {
  margin-top: 30px;
}

.summary-paragraph {
  margin-bottom: 20px;
}

.container {
  margin-top: 10px;
  margin-bottom: 20px;
}
